/*
* main style
*/
body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 24px;
}
h1, h2, h3, h4, h5{
    font-family: 'Roboto', sans-serif;
}
.main{
    min-height: 80vh;
    padding: 100px 0px;
}
.btn-light{
    border: solid 1px #111111;
    background-color: #ffffff;
    border-radius: 0;
    padding: 10px 20px;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: 0.12px;
    text-align: center;
    color: #111111;
    text-transform: uppercase;
    outline: none;
}
.btn-light:hover{
    background: #fff;
    transition-duration: 0.7s;
    opacity: 0.7;
}
.btn-dark{
    border: solid 1px #111111;
    background-color: #111111;
    border-radius: 0;
    padding: 10px 20px;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: 0.12px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    outline: none;
}
.btn-dark:active,
.btn-dark:hover{
    background: #111111 !important;
    transition-duration: 0.7s;
    opacity: 0.7;
    border: solid 1px #111111 !important;
    outline: none;
}

/*
* header
*/
.navbar-collapse{
    justify-content: flex-end;
    align-items: center;
}
.header .navbar{
    padding: 20px 0;
    border-bottom: 1px solid #E1E1E1;
}
.navbar-light .navbar-nav .nav-link{
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: 0.14px;
    text-align: right;
    color: #111111;
    padding: 10px 15px;
}
.navbar-light .navbar-nav .nav-link.btn{
    border: solid 1px #111111;
    border-radius: 0px;
    padding: 12px 20px;
    margin-left: 10px;
}
.header .navbar .navbar-nav{
    align-items: center;
}


/*
* footer
*/
.footer .container{
    border-top: 1px solid #E1E1E1;
    padding: 15px 0;
}
.footer-1 ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
.footer-1 li{
    list-style: none;
    display: inline-block;
    margin: 10px;
}
.footer-1 li a{
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.17;
    letter-spacing: normal;
    color: #616161;
}
.footer .row{
    align-items: center;
}
.footer p{
    margin: 10px;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.17;
    letter-spacing: normal;
    color: #616161;
}
.footer-2{
    text-align: right;
}


/*
* home
*/
.ev_home_1 {
    text-align: center;
     font-size: 18px;
}
.ev_home_1 h2{
    font-size: 24px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: 0.24px;
    text-align: center;
    color: #414141;
    text-transform: uppercase;
    margin: 0 0 10px;
}
.ev_home_2 .box_col{
    background-color: rgba(240,240,240,0.5);
    text-align: center;
    border:1px solid #fff;
    display: flex;
    padding: 40px 0;
}
.ev_home_2 .box_col a{
    margin: auto;
}
.ev_home_2 .box_col h3{
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: 0.14px;
    text-align: center;
    color: #414141;
    margin: 10px 0 0;
}
.ev_home_2{
    margin-top: 40px;
}

/*
* save page
*/
.save_main{
    display: flex;
}
.save_main .container{
    display: flex;
}
.save_main .container .box{
    margin: auto;
    text-align: center;
}
.save_main .container .box h2{
    font-size: 24px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: 0.24px;
    text-align: center;
    color: #414141;
    text-transform: uppercase;
    margin: 0;
}


/*
* my diaries
*/
.diaries_table thead{
    background-color: #f5f6fa;
}
.diaries_table .table thead th{
    border:none;
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #a3a6b4;
}
.diaries_table .table tbody td{
    border:none;
    padding: 20px 10px;
    border-bottom: 1px solid #f0f0f0;
    vertical-align: middle;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: left;
    color: #4d4f5c;
}
.diaries_table .table .d-flex .img{
    background-color: #f5f6fa;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
}
.diaries_table .table .d-flex .cnt h3{
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #414141;
    margin: 0 0 10px;
}
.diaries_table .table .d-flex .cnt{
    margin-left: 10px;
}
.diaries_table .table .d-flex .cnt p{
    font-size: 10px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #616161;
}
.diaries_table .table td.action a{
    margin: 0 5px;
}
.diaries_main .title{
    font-size: 24px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: 0.24px;
    text-align: center;
    color: #414141;
    text-transform: uppercase;
    margin:0 0 20px;
}
.nav_pagination{
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 20px;
}
.nav_pagination li{
    display: inline-block;
    list-style: none;
    margin: 5px 2px;
}
.nav_pagination li a{
    border: solid 0.5px #616161;
    background-color: #ffffff;
    width: 24px;
    height: 24px;
    text-align: center;
    font-size: 12px;
    line-height: 24px;
    color: #616161;
    display: inline-block;
    text-decoration: none;
}
.nav_pagination li a img{
    width: 12px;
}
.nav_pagination li.active a{
    background-color: #f0f0f0;
}



/*
* office
*/
.office_form .form-control{
    border: solid 1px #cccccc;
    background-color: #ffffff;
    border-radius: 0;
    outline: none;
    font-size: 12px;
    text-align: left;
    min-height: 35px;
    box-shadow: none;
}
.office_form textarea.form-control{
    min-height:100px;
}
.office_form label{
    font-size: 10px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.3;
    letter-spacing: normal;
    text-align: left;
    color: #616161;
}
.office_main .title{
    font-size: 24px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: 0.24px;
    text-align: center;
    color: #414141;
    text-transform: uppercase;
    margin:0 0 20px;
}
.office_form .checkbox{
    position: relative;
}
.office_form .checkbox input{
    opacity: 0;
    position: absolute;
}
.office_form .checkbox label{
    width: 24px;
    height: 24px;
    border: solid 1px #414141;
    background-color: #ffffff;
    margin: 0;
    cursor: pointer;
}
.office_form p{
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 24px;
    letter-spacing: normal;
    text-align: left;
    color: #616161;
    margin: 0;
}
.office_form .d-flex{
    margin:10px 0;
}
.office_form .checkbox input[type="checkbox"]:checked + label{
    background: #414141;

}
.office_form .checkbox input[type="checkbox"]:checked + label:after{
    content: "\f00c";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    position: absolute;
    color: #fff;
    text-align: center;
    line-height: 22px;
    left: 7px;
}
.office_form .d-flex p{
    margin-left: 20px;
}
.office_form .btn{
    padding: 10px 30px;
    min-width: 150px;
    margin: 5px;
}



















/**/
